@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  padding-left: 50px;
  padding-right: 50px
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: 'Raleway';
  letter-spacing: 0.5px;
}
body, html
{
    height: 100%;

}


h1{
    font-family: 'Raleway';
    letter-spacing: 1.2px;
    font-size: 32px;
}
p {
    width: 66%;
  }
a{
    color: #fc79c4;
}


h2{

}

#fullwidth{
    width: 100%;
    padding-left:0px;
}

/* The side navigation menu */
.sidenav {
 height: 100%; /* 100% Full-height */
 width: 0; /* 0 width - change this with JavaScript */
 position: fixed; /* Stay in place */
 z-index: 3; /* Stay on top */
 top: 0; /* Stay at the top */
 left: 0;
 background-color: black;
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 60px; /* Place content 60px from the top */
 transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

}

/* The navigation menu links */
.sidenav a {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: #818181;
 display: block;
 transition: 0.3s;
 text-align: right;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
 color: white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation
#main {
 transition: margin-left .5s;
 padding: 20px;
} */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}


.menubar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}




/* flex box row column*/

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 24%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }

    p {
        width: 100%;
    }
}

/*special menu column and bar formats*/
#col1 {
  padding-top: 25px;
  width: 50px;
  text-align: right;
}
#col2 {
  width: 300px;

}
#langbar {
  text-align: right;
  padding: 0px
}


/*overlay effect*/
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: #4d022d;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}



/*image grid*/
.gridrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.gridcolumn {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gridcolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gridcolumn {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gridcolumn {
    flex: 100%;
    max-width: 100%;
  }
}
