
section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	border-bottom: 1px solid lightgrey;
}

section:nth-child(even) {
	flex-direction: row-reverse;
}

section img,
section div {
	height: auto;
	width: 100%;
}

section img {
	width: 50%;
}

section div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 1em;
}

@media screen and (max-width: 900px) {
	section,
	section:nth-child(even) {
		flex-direction: column;
	}

	section img {
		height: auto;
		width: auto;
		max-width: 100vw;

	}
}


/*home styles*/
#homeContainer{
	background-image: url("images/galaxy.jpeg");
	background-repeat: no-repeat;
  background-size: cover;
}
#homeTitle{
	font-size: 4em;
	color: white;
}
#homeText{
	font-size: 2em;
	color: white;
}
#mainlogo{
	max-height: 60vh;
	width: auto;
}
/*about styles*/
#aboutContainer{
	background-color: var(--lightAccent)
}
#aboutDiv{
}

#aboutText{
	text-align: left;
	font-size: 2.5em;
	color: black;
	line-height: 2em;
}

/*projects*/
#projContainer{

}
#projTitle{

}

#projText{
	font-size: 1.5em;
}
#projLHS{

}

#projRHS{

}

/*join*/
#joinTitle{

}
#joinText{
	font-size: 1.5em;
}
/*mobile responsiveness*/
@media screen and (max-width: 600px) {
	#homeTitle{
		font-size: 2em;
	}
	#homeText{
		font-size: 1.5em;
	}
	#mainlogo{
		max-height: 50vh;
	}

	#aboutText{
		text-align: left;
		font-size: 2em;
		color: black;
		line-height: 1.5em;
	}

	#projContainer{
		height: 200vh;
	}
	#projTitle{

	}

	#projText{
		font-size: 1.5em;
	}
}
