
nav {
	width: 100%;
	position: sticky;
	z-index: 10;
	top: 0;
	padding: 1.2em 0;
	color: black;
	background-color: white; /* var(--darkAccent); */
	max-height: 4em;
	font-weight: bold;
	display: flex;
}
.navbar{
position: sticky !important;
top: 0;
z-index: 10;
max-height: 5em;
padding-bottom: 20em !important;
background-color:  white;

}

#navbarSupportedContent{
	background: white !important;
}

.lhs{
text-align: left;
font-size: 27px;
padding-top: 0.5em;
margin: 0.2em;
padding-bottom: 0.3em;
}

nav span {
	font-size: 18px;
	border-bottom: 1px solid;
	transition: border-bottom 0.2s ease;
	transition-delay: 0.25s;
	margin: 1em;
	margin-top: 2em;
}

nav span:hover {
	cursor: pointer;
	border-bottom: 1px solid white;
}

nav span:hover i {
	color: gold;
}

nav span.activeClass i {
	color: gold;
}

nav span.activeClass {
	border-bottom-color: var(--lightAccent);
}
.navbar-collapse.in {
    display: block !important;
}
